@import url("https://fonts.googleapis.com/css?family=Roboto:500");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center; /* Centers the entire app */
}

.App {
  text-align: center;
  padding: 2% 5%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"] {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 38px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.suggestions {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 45px;
  z-index: 2;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event {
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.alerts-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 1000;
}

.chart-container {
  width: 100%;
  max-width: 800px; /* Ensures chart isn't too wide */
  margin: 20px auto;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .App {
    padding: 2% 3%;
  }

  .event, #city-search, input[type="text"], input[type="number"] {
    max-width: 90%;
  }

  .alerts-container {
    width: 90%;
  }
}