@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center; /* Centers the entire app */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensure the body takes up the full height */
}

.App {
  text-align: center;
  padding: 2% 5%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure full height for proper flexbox alignment */
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"] {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 38px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box; /* Ensures padding doesn't increase width */
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.suggestions {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 45px;
  z-index: 1001; /* Ensure it's above other elements */
  font-size: 14px;
  background: white; /* Ensure visibility */
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event {
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: white; /* Ensure contrast */
}

.alerts-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9); /* Ensure visibility */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-container {
  width: 100%;
  max-width: 800px; /* Ensures chart isn't too wide */
  margin: 20px auto;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .App {
    padding: 2% 3%;
  }

  .event, 
  #city-search, 
  input[type="text"], 
  input[type="number"] {
    max-width: 90%;
  }

  .alerts-container {
    width: 90%;
  }

  .suggestions {
    max-width: 90%; /* Ensure it doesn’t get too wide on smaller screens */
  }
}